@model NetMud.Models.Admin.DashboardViewModel
@{
    ViewBag.Title = "Administrative Dashboard";
}

<div>
    <h4>Data</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Slack Users:</dt>
        <dd>
            @Model.SlackUsers.Count().ToString() [
            @Html.ActionLink("Manage", "Index", "SlackUser")
            @Html.ActionLink("Add", "Add", "SlackUser") ]
            @if (Model.SlackUsers.Any(r => r.FitnessProblems))
            {
                <span style="color:red;">DATA PROBLEMS</span>
            }
        </dd>
        <dt>Game Links:</dt>
        <dd>
            @Model.Games.Count().ToString() [
            @Html.ActionLink("Manage", "Index", "Game")
            @Html.ActionLink("Add", "Add", "Game") ]
            @if (Model.Games.Any(r => r.FitnessProblems))
            {
                <span style="color:red;">DATA PROBLEMS</span>
            }
        </dd>
    </dl>
</div>
